*{
    padding:0px;
    margin:0px;
    border:border-box;
}
.navo{
    height:60px;
    display: flex;
    align-content: center;
    width:auto;
    
}
.logo{
    font-size:50px;
    color:red;
    font-weight: bold;
    font-style: italic;
    text-shadow:0px 0px 8px rgb(236, 244, 6);
    margin-right:20%;
}
ul{
    display:flex;
    gap:30%;
    justify-items: center;
    list-style: none;
    margin-right:20%;
    margin-top:15px;
    margin-left:10%;
}
a{
    text-decoration:none;
    color:black;
    font-size:30px;
}
button{
    margin-left:300%;
    margin-top:10px;
    text-size-adjust:30px;
}
.contactme{
    background-color:rgb(201, 42, 229);
    height:40px;
    font-size:20px;
    font-weight: bolder;
}
main{
    height:700px;
    width:auto;
    display: flex;
    align-items: center;
    background-color: rgb(227, 233, 233);
}
.nameintro{
    font-size: large;
    color:blue;
}
.mainpara{
    width:70%;
}
.main-symbols{
    display: flex;
    gap:2%;
    margin-top: 10%;
    margin-left:1%;
    
}
.symbols{
    height:30px;
    width:30px;
    border:1px solid black;
    border-radius:50%;
}
.mainimg{
    height:75%;
    width:25%;
    border:2px solid yellow;
    border-radius:50%;
    background-image:url(mainimg.jpg);
    background-size:contain;
}
.about-section{
    background-color: rgb(227, 233, 233);
    width:auto;
}
.mainpro{
    height:300px;
    width:auto;
    display:flex;
    background-color:  rgb(227, 233, 233);;
}
.box1{
    width:30vw;
    margin-right:5%;
    /* background-image: url(blog.png);
    background-size: cover; */
}
.box2{
    width:50%;
    color:black;
    margin-right:10%;
}
.footer{
    background-color: rgb(227, 233, 233);
    padding-left:35%;
    padding-top: 200px;
}